.gallery-item { float:left;margin-top:10px;text-align:center; }
.jw-colorcycle-wrap { margin: 10px 0; }
.jw-colorcycle { text-align: center; }
.jw-colorcycle-thumbs { margin-bottom: 20px; }
.jw-colorcycle-thumb { text-align: center; }
.jw-colorcycle-thumb li { display: inline; padding: 5px; }
.slide { display: table; }
.jw-cc-img-wrap { display: table-cell; vertical-align: middle; }