/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
.cc-theme-default #cboxOverlay{background:#fff;}
.cc-theme-default #colorbox{}
    .cc-theme-default #cboxTopLeft{width:25px; height:25px; background:url(images/border1.png) no-repeat 0 0;}
    .cc-theme-default #cboxTopCenter{height:25px; background:url(images/border1.png) repeat-x 0 -50px;}
    .cc-theme-default #cboxTopRight{width:25px; height:25px; background:url(images/border1.png) no-repeat -25px 0;}
    .cc-theme-default #cboxBottomLeft{width:25px; height:25px; background:url(images/border1.png) no-repeat 0 -25px;}
    .cc-theme-default #cboxBottomCenter{height:25px; background:url(images/border1.png) repeat-x 0 -75px;}
    .cc-theme-default #cboxBottomRight{width:25px; height:25px; background:url(images/border1.png) no-repeat -25px -25px;}
    .cc-theme-default #cboxMiddleLeft{width:25px; background:url(images/border2.png) repeat-y 0 0;}
    .cc-theme-default #cboxMiddleRight{width:25px; background:url(images/border2.png) repeat-y -25px 0;}
    .cc-theme-default #cboxContent{background:#fff; overflow:hidden;}
        .cc-theme-default .cboxIframe{background:#fff;}
        .cc-theme-default #cboxError{padding:50px; border:1px solid #ccc;}
        .cc-theme-default #cboxLoadedContent{margin-bottom:20px;}
        .cc-theme-default #cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}
        .cc-theme-default #cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;}
        .cc-theme-default #cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
        .cc-theme-default #cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
        .cc-theme-default #cboxNext{position:absolute; bottom:0px; left:63px; color:#444;}
        .cc-theme-default #cboxLoadingOverlay{background:#fff url(images/loading.gif) no-repeat 5px 5px;}
        .cc-theme-default #cboxClose{position:absolute; bottom:0; right:0; display:block; color:#444;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

.cc-theme-dark #cboxOverlay{background:#fff;}
.cc-theme-dark #colorbox{}
    .cc-theme-dark #cboxContent{margin-top:32px; overflow:visible;}
        .cc-theme-dark .cboxIframe{background:#fff;}
        .cc-theme-dark #cboxError{padding:50px; border:1px solid #ccc;}
        .cc-theme-dark #cboxLoadedContent{background:#000; padding:1px;}
        .cc-theme-dark #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        .cc-theme-dark #cboxLoadingOverlay{background:#000;}
        .cc-theme-dark #cboxTitle{position:absolute; top:-22px; left:0; color:#000;}
        .cc-theme-dark #cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}
        .cc-theme-dark #cboxSlideshow, #cboxPrevious, #cboxNext, #cboxClose{text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url(images/controls.png) no-repeat 0 0;}
        .cc-theme-dark #cboxPrevious{background-position:0px 0px; right:44px;}
        .cc-theme-dark #cboxPrevious:hover{background-position:0px -25px;}
        .cc-theme-dark #cboxNext{background-position:-25px 0px; right:22px;}
        .cc-theme-dark #cboxNext:hover{background-position:-25px -25px;}
        .cc-theme-dark #cboxClose{background-position:-50px 0px; right:0;}
        .cc-theme-dark #cboxClose:hover{background-position:-50px -25px;}
        .cc-theme-dark .cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
        .cc-theme-dark .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
        .cc-theme-dark .cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
        .cc-theme-dark .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
        .cc-theme-dark .cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}

